{# src/Xercode/BackofficeBundle/Resources/views/Default/index.html.twig #}
{% extends 'PhotoblogBundle::front.html.twig' %}

{% block pageheader %}
    <div class = "page-header">
        <h1>Sobre nosotros <small>Descubre más sobre {{ site_name }}</small></h1>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>¿Quiénes somos?</h2>
        <p>Lo principal amigos… y además amigos con unos cuantos gustos comunes</p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h4>FAQ question</h4>
        <p>Contesta la faq</p>
        <p>Con todo el detalle que quieras</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
    
    <div class="span4">
        <h4>FAQ question</h4>
        <p>Contesta la faq</p>
        <p>Con todo el detalle que quieras</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
    
    <div class="span4">
        <h4>FAQ question</h4>
        <p>Contesta la faq</p>
        <p>Con todo el detalle que quieras</p>
        <p><a class="btn" href="#">Lee más...</a></p>
    </div>
</div>

{% endblock %}