{# src/Xercode/BackofficeBundle/Resources/views/Default/index.html.twig #}
{% extends 'QleesBundle::front.html.twig' %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Todas tus dudas</h1>
  <p>Por favor haznos llegar cualquier duda o sugerencia que consideres necesarias.</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span8">
        <h2>Formulario de contacto</h2>
        <form action="{{ path('ql_contact') }}" method="post" {{ form_enctype(form) }}> 
            {{ form_widget(form) }}
            <div class="actions">
                <button id="send" class="btn" type="submit">Enviar comentario</button>
            </div>
        </form>
    </div>
    
    <div class="span8">
        <h2>Informacion de contacto</h2>
    </div>
</div>

{% endblock %}