{% extends '::Inmovilizame.html.twig' %}

{% block page %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {% block topbar %}
                {% include 'PhotoblogBundle:Default:topbar.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        {% block pageheader %}
        <div class="page-header">
            <h1>Page name <small>Supporting text or tagline</small></h1>
        </div>
        {% endblock %}
        <div class="row">
            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
    <hr />

    {% include 'PhotoblogBundle:Default:footer.html.twig' %}

</div>
{% endblock %}