{% extends '::Inmovilizame.html.twig' %}

{% block page %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            {% block topbar %}
                {% include 'PhotoblogBundle:Default:topbar.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        {% block pageheader %}
        <div class="page-header">
            <h1>Page name <small>Supporting text or tagline</small></h1>
        </div>
        {% endblock %}
        <div class="row">
            <div class="span2 sidebar">
                {% block sidebar %}
                    {% render 'PhotoblogBundle:Default:sidebar.html.twig' %}
                {% endblock %}
            </div>
            <div class="span10 content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    
    <hr />
        
    {% include 'PhotoblogBundle:Default:footer.html.twig' %} 

</div>
{% endblock %}